.index-section {
  padding-top: 182px;
  font-family: "Source Code Pro";
}

.index-section .service-info-container {
  display: flex;
  padding-bottom: 105px;
  border-bottom: solid 1px var(--secondary-color);
}

.index-section .service-info-container .copyright-box {
  width: 488px;
}

.index-section .copyright-box h2 {
  font-size: 8rem;
  font-weight: 200;
  line-height: 10.6rem;
}

.index-section .step-container {
  width: calc(100% - 488px);
  margin-top: 10px;
}

.index-section .step-container .step-box {
  display: flex;
  line-height: 6rem;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 35px;
}

.index-section .step-box .step-num {
  font-size: 2.4rem;
  line-height: inherit;
}

.index-section .step-box .step-info-text-box {
  width: 82%;
  background-color: var(--secondary-color);
  border-radius: 16px;
  text-align: center;
  font-size: 2.4rem;
}

.index-section .step-box .step-info-text-box.first {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b3137;
  color: var(--bg-color);
  cursor: pointer;
}

.index-section .step-box .step-info-text-box.first i {
  margin-right: 18px;
  font-size: 3.6rem;
}

.index-section .step-info-text-box.last {
  margin-bottom: 0;
  cursor: pointer;
}

.index-section .service-overview-container {
  display: flex;
  gap: 20px;
  padding-top: 80px;
}

.index-section .deployments-list-container {
  width: 387px;
}

.index-section .service-overview-container h3 {
  font-size: 3.6rem;
}

.index-section .deployments-list-box {
  margin-top: 10px;
  background-color: var(--accent-bg);
  padding: 23px 10px;
  border-radius: 16px;
}

.index-section .deployment-box {
  margin-bottom: 15px;
}

.index-section .deployment-box:last-child {
  margin-bottom: 0;
}

.index-section .deployment-box .project-name {
  font-size: 2.4rem;
  font-weight: 400;
}

.index-section .deployment-box .domain-text {
  font-size: 1.8rem;
}

.index-section .dashboard-container {
  width: calc(100% - 387px - 20px); /* 전체 - deployment - gap */
}

.index-section .monitor-container {
  display: flex;
  margin-top: 10px;
  gap: 20px;
  background-color: var(--secondary-bg);
  padding: 10px 10px;
  border-radius: 16px;
}

.index-section .monitor-container div {
  flex: 1;
}

.index-section .monitor-container h4 {
  font-size: 2.4rem;
}

.index-section .monitor-container .usage-box {
  display: flex;
  justify-content: space-between;
}

.index-section .pie-chart {
  width: 130px;
  aspect-ratio: 1 / 1;
  margin: 15px auto 0;
}

/* 전체 원 (테두리만) */
.index-section .pie-chart .pie-chart-bg {
  display: block;
  width: 100%;
  height: 100%;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 0;
}

/* 1/4 채워진 부분 */
.index-section .pie-chart .pie-chart-fill {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border: 3px solid var(--primary-color);
  border-radius: 0 100% 0 0;
  border-left: none;
  border-bottom: none;
  box-sizing: border-box;
  z-index: 0;
}

.index-section .text-box {
  display: flex;
  justify-content: space-between;
}

.index-section .project-box {
  margin-top: 12px;
}

.index-section .project-box:first-child {
  margin-top: 15px;
}

.index-section .progress-bar-box {
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background: var(--secondary-color); /* total-bar 배경 */
  border-radius: 4px;
  overflow: hidden;
}

.index-section .fill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--accent-color);
  border-radius: 4px;
  width: 0;
}

/* 반응형 */

@media (max-width: 1300px) {
  .index-section .step-container .step-box {
    gap: 20px;
  }

  .index-section .step-box .step-num {
    font-size: 2rem;
  }

  .index-section .step-box .step-info-text-box {
    width: 79%;
    font-size: 2rem;
  }

  .index-section .deployments-list-box {
    padding: 32px 10px;
  }
}

@media (max-width: 1200px) {
  .index-section {
    padding-top: 150px;
  }

  .index-section .service-info-container {
    display: block;
    padding-bottom: 50px;
  }

  .index-section .service-info-container .copyright-box {
    width: 100%;
  }

  .index-section .service-info-container .step-container {
    width: 100%;
    margin-top: 90px;
  }

  .index-section .step-box .step-num,
  .index-section .step-box .step-info-text-box {
    font-size: 2.4rem;
  }

  .index-section .deployments-list-box {
    padding: 22px 10px;
  }

  .index-section .service-overview-container {
    display: block;
  }

  .index-section .deployments-list-container {
    width: 100%;
  }

  .index-section .dashboard-container {
    width: 100%;
    margin-top: 50px;
  }

  .index-section .deployment-box {
    margin-bottom: 10px;
  }

  .index-section .deployment-box .project-name {
    font-size: 2rem;
  }

  .index-section .deployment-box .domain-text {
    font-size: 1.6rem;
  }

  .index-section .monitor-container h4 {
    font-size: 2rem;
    font-weight: 400;
  }
}

@media (max-width: 880px) {
  .index-section .copyright-box h2 {
    padding-right: 100px;
  }

  .index-section .step-box .step-info-text-box {
    width: 78%;
  }

  .index-section .monitor-container .usage-box h4 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .index-section .copyright-box h2 {
    padding-right: 0;
  }

  .index-section .step-box .step-num {
    font-size: 2.2rem;
  }

  .index-section .step-box .step-info-text-box {
    font-size: 2.2rem;
  }

  .index-section .pie-chart {
    width: 100px;
  }

  .index-section .project-box {
    margin-top: 8px;
  }
}

@media (max-width: 600px) {
  .index-section .copyright-box h2 {
    font-size: 7rem;
    line-height: 8rem;
  }

  .index-section .step-container .step-box {
    line-height: 5rem;
    gap: 20px;
    margin-bottom: 10px;
  }

  .index-section .step-box .step-num,
  .index-section .step-box .step-info-text-box {
    font-size: 1.8rem;
  }

  .index-section .deployments-list-box {
    padding: 15px 10px;
  }

  .index-section .deployments-list-box .deployment-box {
    margin-bottom: 6px;
  }

  .index-section .deployment-box .project-name {
    font-size: 1.8rem;
  }

  .index-section.deployment-box .domain-text {
    font-size: 1.4rem;
  }

  .index-section .monitor-container h4 {
    font-size: 1.8rem;
  }

  .index-section .monitor-container .disk-usage-box h4 {
    line-height: 1.2;
  }

  .index-section .pie-chart {
    width: 75px;
  }

  .index-section .progress-bar-box {
    display: none;
  }

  .index-section .text-box {
    font-size: 1.4rem;
  }
}

@media (max-width: 440px) {
  .index-section .service-overview-container {
    padding-top: 60px;
  }
  .index-section .copyright-box h2 {
    font-size: 6rem;
    line-height: 7rem;
  }

  .index-section .step-container .step-box {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .index-section .step-box .step-num {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .index-section .step-box .step-info-text-box {
    width: 100%;
  }

  .index-section .monitor-container {
    flex-direction: column;
    gap: 40px;
  }

  .index-section .pie-chart {
    width: 100px;
  }

  .index-section .progress-bar-box {
    display: block;
  }
}

@media (max-width: 375px) {
  .index-section {
    padding-top: 135px;
  }

  .index-section .copyright-box h2 {
    font-size: 5.6rem;
  }

  .index-section .service-info-container .step-container {
    margin-top: 70px;
  }

  .index-section .step-box .step-info-text-box {
    font-size: 1.6rem;
  }

  .index-section .monitor-container h4 {
    font-size: 1.6rem;
  }
}
