.project-detail-section {
  height: 100vh;
}

.project-detail-section .wrap {
  width: 590px;
}

.project-detail-section .project-info-container .btn-box {
  text-align: right;
}

.project-detail-section .btn-box .project-delete-btn {
  margin-right: 0;
  color: #b41515;
  font-weight: 400;
}

.project-detail-section .project-info-container .project-address {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 16px;
  background-color: var(--bg-sub-color);
  border-radius: 16px;
}

.project-detail-section .project-info-container .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

.project-detail-section .project-info-container .title {
  font-size: 3rem;
  width: calc (100% - 100px);
  word-wrap: break-word;
}

.project-detail-section .title-box .status {
  display: inline-block;
  width: 26px;
  aspect-ratio: 1 / 1;
  border-radius: 50px;
  margin: 4px;
}

.project-detail-section .status.active {
  background-color: #23a038;
}

.project-detail-section .status.inactive {
  background-color: #ff1818;
}

.project-detail-section .toggle-box:hover {
  background-color: var(--secondary-color);
}

.project-detail-section .toggle-box.active .toggle {
  margin-left: calc(100% - 31px);
}

.project-detail-section .toggle-box.inactive .toggle {
  margin-left: 4px;
}

.project-detail-section .domain-box {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 4rem;
}

.project-detail-section .domain-box .project-url {
  font-size: 2rem;
  line-height: 1;
  word-break: break-all;
}
.project-detail-section .domain-box .change-domain-btn {
  flex-shrink: 0;
  width: 70px;
  background-color: var(--accent-bg);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  line-height: 2.2;
  font-size: 1.4rem;
}

.project-detail-section .change-domain-btn:hover {
  color: #fff;
  background-color: var(--accent-color);
}
.project-detail-section .resource-container {
  margin-top: 40px;
}
.project-detail-section .memory-container,
.project-detail-section .traffic-container {
  margin-bottom: 20px;
}

.project-detail-section .resource-container .text-box {
  display: flex;
  justify-content: space-between;
}

.project-detail-section .resource-container .used {
  font-weight: 400;
}
.project-detail-section .resource-container .bar-box {
  margin-top: 5px;
  height: 10px;
  background-color: var(--secondary-bg);
}

.project-detail-section .resource-container .fill-bar {
  height: 100%;
  background: linear-gradient(90deg, var(--accent-color), var(--primary-color));
  border-radius: 4px;
  transition: width 0.3s ease;
}

.project-detail-section .history-container {
  margin-top: 100px;
}

.project-detail-section .history-container .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-detail-section .history-container .title {
  font-size: 2.4rem;
  font-weight: 400;
}

.project-detail-section .history-container .project-reload-btn {
  padding: 5px 12px;
  border-radius: 8px;
}

.project-detail-section .history-container .history-box {
  margin-top: 16px;
  padding: 10px 15px;
  border-radius: 16px;
  background-color: var(--bg-sub-color);
}

.project-detail-section .history-box p {
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.project-detail-section .history-box p span {
  margin-right: 10px;
}

/* change domain modal */

.project-detail-section .modal-popup .title-box .title {
  font-size: 2rem;
  font-weight: 500;
}

.project-detail-section .modal-popup .notice-box {
  margin-top: 20px;
}

.project-detail-section .modal-popup .notice-box p {
  margin: 6px 0;
}

.change-domain-modal .notice-box span {
  color: #afafaf;
}

.change-domain-modal .input-box {
  margin: 20px 0 10px;
}

.change-domain-modal .input-box .error-message {
  font-size: 1.4rem;
  color: red;
  text-indent: 1rem;
  line-height: 2.5;
}

.delete-project-modal .input-box {
  margin: 5px 0;
}

.delete-project-modal .input-box input {
  width: 100%;
}

.delete-project-modal .btn-box {
  margin-top: 20px;
}

@media (max-width: 650px) {
  .project-detail-section .wrap {
    width: calc(100% - 40px);
  }
}

@media (max-width: 425px) {
  .project-detail-section {
    padding-top: 80px;
  }

  .project-detail-section .wrap {
    width: calc(100% - 40px);
  }

  .project-detail-section .history-box p {
    margin-bottom: 10px;
  }

  .project-detail-section .history-box p:last-child {
    margin-bottom: 0;
  }

  .project-detail-section .history-box p span {
    display: block;
  }
}
