footer {
  background-color: #423f3d;
  color: #fff;
  padding: 16px 0 8px;
}

footer .term-container {
  display: flex;
  font-size: 1.4rem;
  gap: 40px;
  justify-content: center;
  cursor: pointer;
}

footer .company-info-container {
  color: var(--bg-sub-color);
  text-align: center;
  font-size: 1.2rem;
  line-height: 3;
}
