.header {
  position: fixed;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  background-color: #fff;
  border-radius: 16px;
  padding: 10px 30px 10px 20px;
  box-shadow: 0px 3px 10px #d8d8d8;
}

.header .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--text-color);
}

.header .header-container .logo-box {
  display: flex;
  align-items: center;
  width: calc((100% - 1200px) / 2);
}

.header .header-container .logo-box a {
  display: inline-block;
  height: 33px;
}

.header .logo-box img {
  display: inline-block;
  width: 135px;
}

.header .header-container .nav-container {
  width: 1200px;
}

.header .header-container .services-nav {
  display: flex;
  gap: 40px;
}

.header .header-container .header-right {
  display: flex;
  justify-content: right;
  width: calc((100% - 1200px) / 2);
}

.header .services-nav a.active,
.pricing-link.active {
  font-weight: 500;
}
