.tooltip-wrapper {
}

.tooltip-wrapper .tooltip-content {
  position: absolute;
  top: -100%;
  left: 100px;
  width: max-content;

  font-size: 1.4rem;
  padding: 3px;
  border-radius: 3px;
  background-color: var(--accent-bg);
}

.tooltip-wrapper .fa-circle-info {
  display: inline-block;
  font-size: 1.8rem;
  color: var(--accent-color);
  cursor: help;
}

@media (max-width: 768px) {
  .tooltip-wrapper .tooltip-content {
    left: 0;
  }
}
