@import "@fortawesome/fontawesome-free/css/all.min.css";

/* color setting */
:root {
  --primary-color: #93806b;
  --secondary-color: #cbbbab;
  --secondary-bg: #efe0d1;
  --accent-color: #4a758b;
  --accent-bg: #d1e0e8;
  --text-color: #5c4f46;
  --bg-color: #fdf9f5;
  --bg-sub-color: #e2dad1;
  --wrap: 1200px;
}

/* layout setting */
section {
  background: var(--bg-color);
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}

.wrap {
  width: var(--wrap);
  margin: 0 auto;
}

.pos-rel {
  position: relative;
}

/* text settiong */
h1,
h2,
h3,
h4,
h5,
h6,
.title-text {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 1.2;
  color: var(--text-color);
}

.eng {
  font-family: "Source Code Pro";
  word-spacing: -0.12rem;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* modal popup setting */

.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #22222299;
  z-index: 9999;
}

.modal-popup {
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
}

.btn-box {
  text-align: center;
  cursor: pointer;
}

.modal-popup button {
  display: inline-block;
  padding: 6px 20px;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  transition: 0.3s;
}

.modal-popup button:hover {
  background-color: #cbbbab;
}

.btn-box button:first-child {
  margin-right: 10px;
}

button.accent {
  color: #fff;
  background-color: var(--accent-color);
  transition: 0.3s ease-in-out;
}

button.accent:hover {
  background-color: #163a4d;
}

button.main {
  color: var(--text-color);
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

button.main:hover {
  color: #fff;
  background-color: var(--primary-color);
}

/* input setting */

input::placeholder {
  font-family: "Pretendard", sans-serif; /* 한글이니까 */
}
input {
  font-family: "Source Code Pro", monospace; /* 입력값은 영어 */
}

input[type="text"] {
  display: inline-block;
  border: none;
  background-color: var(--bg-sub-color);
  line-height: 2;
  border-radius: 10px;
  text-indent: 14px;
  outline: none;
}

input[type="text"]:focus {
  box-shadow: 0 0 4px 2px var(--secondary-bg);
}

/* scroll */
/* 스크롤바 전체 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 10px;
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: var(--secondary-bg);
  border-radius: 10px;
  transition: all 0.3 ease;
}

/* 스크롤바 핸들 호버 */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/* 반응형 */

.desk {
  display: block;
}

.tab {
  display: none;
}

.mob {
  display: none;
}

@media (max-width: 1300px) {
  :root {
    --wrap: 1000px;
  }
}

@media (max-width: 1200px) {
  :root {
    --wrap: 768px;
  }
}

@media (max-width: 880px) {
  :root {
    --wrap: 600px;
  }
}

@media (max-width: 768px) {
  :root {
    --wrap: 520px;
  }
}

@media (max-width: 600px) {
  :root {
    --wrap: 400px;
  }

  .desk {
    display: none;
  }

  .mob {
    display: block;
  }

  .tab-block {
    display: block;
  }
}

@media (max-width: 440px) {
  :root {
    --wrap: 360px;
  }
}

@media (max-width: 400px) {
  :root {
    --wrap: 340px;
  }
}

@media (max-width: 375px) {
  :root {
    --wrap: 310px;
  }
}

/* test */
